<div class="container d-flex justify-content-center mt-5">
    <div class="w-50 p-5 border border-secondary text-center">
        <h2>welcome to Login</h2>
        <label for="">Username :</label><input type="text" placeholder="Enter your username"><br><br>
        <label for="">Password :</label><input type="password" placeholder="Enter your Password"><br><br>
         <!-- <button class="btn btn-primary" routerLink="/attribute-directives">Submit</button> -->
         <button class="btn btn-primary" (click)="loginData()">Submit</button>

    </div>
</div>

