<div class="m-3">
    <!-- <h3 class="text-primary m-3">String type pipes</h3>
    <h4>1.UpperCasePipe:{{angularPipes | uppercase}}</h4>
    <h4>2.LowerCasePipe:{{angularPipes | lowercase}}</h4>
    <h4>3.TitleCasePipe:{{angularPipes | titlecase}}</h4>
    <h4>4.SlicePipe(4:8):{{angularPipes | slice : 4:8}}</h4>
    <h4>4.SlicePipe(4):{{angularPipes | slice : 4}}</h4>
    <h4>4.SlicePipe(4:-10):{{angularPipes | slice : 4:-10}}</h4>
    <h4>4.SlicePipe(-10):{{angularPipes | slice : -10}}</h4>
    <h4>4.SlicePipe(numbers):{{[1,2,3,4,5,6,]| slice : 1:3}}</h4>
    <h4>4.SlicePipe(numbers):{{[1,2,3,4,5,6,]| slice : 1}}</h4>
    <h4>4.SlicePipe(numbers):{{[1,2,3,4,5,6,]| slice : -1}}</h4>
    <h4>4.SlicePipe(numbers):{{[1,2,3,4,5,6,]| slice : 1:-1}}</h4>
    <h4>5.JsonPipe:{{ personData | json}}</h4>
    <pre>
          <h4>5.JsonPipe:{{ personData | json}}</h4>
    </pre> -->
<!-- 
    <h3 class="text-primary m-3">Number type pipes</h3>
    <h4>6.Datepipe : {{currentDate}}</h4>
      <h4>6.Datepipe : {{currentDate|date}}</h4>
    <h4>6.short : {{currentDate|date:'short'}}</h4>
    <h4>6.shortDatePipe : {{currentDate|date:'shortDate'}}</h4>
    <h4>6.shortTimePipe : {{currentDate|date:'shortTime'}}</h4>
    <h4>6.mediumPipe : {{currentDate|date:'medium'}}</h4>
    <h4>6.mediumDatePipe : {{currentDate|date:'mediumDate'}}</h4>
    <h4>6.mediumTimePipe : {{currentDate|date:'mediumTime'}}</h4>

    <h3 class="text-primary m-3">Decimal type pipes</h3>
    <h4>7.DicimalPipe:{{3.141592653 | number:'1.3'}}</h4>
    <h4>7.DicimalPipe:{{3.141592653 | number:'2.3'}}</h4>
    <h4>7.DicimalPipe:{{3.14 | number:'2.5'}}</h4>

    <h3 class="text-primary m-3">Percent type pipes</h3>
    <h4>8.ParcentPipe:{{0.25| percent}}</h4>

      <h3 class="text-primary m-3">Currency type pipes</h3>
    <h4>9.CurrencyPipe:{{123.20| currency}}</h4>
    <h4>9.CurrencyPipe:{{123.20| currency:'EUR'}}</h4>
    <h4>9.CurrencyPipe:{{123.20| currency: 'INR'}}</h4> -->

<!-- <h4>DatePipeMixedwithUpperPipe: {{currentDate |date | uppercase}}</h4> -->
   
<h4>
    10.AsyncPipe:
    <ul>
        @for(item of items | async;track item)
        {
            <li>{{item}}</li>
        }
    </ul>
</h4>
</div>
